### Zadanie 1
W górę rzucono piłkę. Zaniedbując siły oporu, oblicz na jaką wysokość wzniesie się piłka po czasie $t$ sekund, jeżeli wartość początkowa prędkości wynosiła $v_0=3:44\; {}^m/{}_s$. 

Wskazówka: Wykorzystaj równanie ruchu $$h(t)=v_0t-\frac{1}{2}gt^2.$$

Obliczenia przeprowadź dla

    • t=0.54
    • t=0.100
    • t=0.235.

In [153]:
gravity = 2.45
init_velocity = 3.44 # mam nadzieję, że ':' to literówka dla kropki.

def calc(time: float):
    height = init_velocity * time - 0.5 * gravity * time ** 2
    print("Prędkość dla", time, "wynosi", height)

calc(0.54)
calc(0.100)
calc(0.235)

Prędkość dla 0.54 wynosi 1.5003900000000001
Prędkość dla 0.1 wynosi 0.33175000000000004
Prędkość dla 0.235 wynosi 0.7407493749999999

### Zadanie 2

Napisz program zamieniający jednostki z metrów na stopy, cale, jardy
i mile.

    • 1 cal = 2.54 cm
    • 1 stopa = 12 cali
    • 1 jard = 3 stopy
    • 1 mila = 1760 jardów
    
Uwaga: 640 m = 25196.85 cali = 2099.74 stóp = 699.91 jardów = 0.3977
mili (użyj tych wielkości do testów).

In [2]:
factors = {
    "metry": 1,
    "centymetry": 0.01,
    "cale": 2.54,
    "stopy": 12,
    "jardy": 3,
    "mile": 1760
}

def get_factors() -> dict[str, float]:
    res = {}
    previous = 1
    
    for unit, factor in factors.items():
        if not previous:
            res[unit] = factor
            continue

        tmp = previous / factor
        
        res[unit] = 1 / tmp
        previous = tmp
    
    return res

# Konwersje nie są 100% dokładne jesli chodzi o liczby po przecinku, przez problemy z floating pointem
def convert(n: float, source: str, target: str) -> float:
    if source == target:
        return n

    fac = get_factors()
    
    return (n * fac[source]) / fac[target]

def trace(base: float):
    prev_unit = None
    text = []
    
    for unit in factors:
        if prev_unit:
            base = convert(base, prev_unit, unit)

        text.append(str(base) + " " + unit) 
        prev_unit = unit

    print(" = ".join(text))

trace(640)
trace(2)
trace(58)
trace(16)

640 metry = 64000.0 centymetry = 25196.850393700788 cale = 2099.737532808399 stopy = 699.912510936133 jardy = 0.3976775630318938 mile
2 metry = 200.0 centymetry = 78.74015748031496 cale = 6.561679790026246 stopy = 2.187226596675415 jardy = 0.0012427423844746678 mile
58 metry = 5800.0 centymetry = 2283.464566929134 cale = 190.28871391076115 stopy = 63.42957130358705 jardy = 0.036039529149765374 mile
16 metry = 1600.0 centymetry = 629.9212598425197 cale = 52.49343832020997 stopy = 17.49781277340332 jardy = 0.009941939075797343 mile

### Zadanie 3.

Napisz program konwertujący temperaturę mierzonę w stopniach Celsjusza do stopni Fahrenheita zgodnie z zależnością F = 9/5 C + 32. Następnie napisz program konwertujący temperaturę w drugą stronę.

In [4]:
max_decimals = 5

def c_to_f(c: float):
    res = round(9 / 5 * c + 32, max_decimals)
    print(str(c) + "*C", "=", str(res) + "*F")

def f_to_c(f: float):
    res = round((f - 32) * 5 / 9, max_decimals) 
    print(str(f) + "*F", "=", str(res) + "*C")

c_to_f(2)
f_to_c(35.6)

c_to_f(100)
f_to_c(212)

c_to_f(-25)
f_to_c(-13)

2*C = 35.6*F
35.6*F = 2.0*C
100*C = 212.0*F
212*F = 100.0*C
-25*C = -13.0*F
-13*F = -25.0*C

### Zadanie 4.

Napisz program wyliczjący pole i obwód wycinka koła o zadanym promieniu i kącie.

In [176]:
import math

radius = float(input("Podaj promień: "))
angle = float(input("Podaj kąt wycinka: "))

factor = angle / 360
area = math.pi * radius ** 2
oblast = 2 * math.pi * radius

print("Pole: ", area * factor)
print("Obwód: ", oblast * factor)

Podaj promień:  5
Podaj kąt wycinka:  3

Pole:  0.6544984694978736
Obwód:  0.2617993877991494

### Zadanie 5.

W piekarni "Złota bułka" kupiono 4 bułki po 1,5 zł i dwie drożdżówki po 3,2 zł. Przygotuj paragon po transakcji. Mozna wykorzystać dowolny pragon z zakupów (min 2 produkty) i napisać program drukujący go.

In [195]:
import datetime
import random

class Product():
    name: str
    cost: float
    amount: int

    def __init__(self, name: str, cost: float, amount: int = 1):
        self.name = name
        self.cost = cost
        self.amount = amount

class Paragon():
    width = 42
    company: str
    city: str
    street: str
    payment_method: str
    paid_amount: float
    products: list[Product]

    def __init__(self, company: str, city: str, street: str):
        self.products = []
        
        self.company = company
        self.city = city
        self.street = street

    def add_product(self, name: str, cost: float, amount: int = 1):
        self.products.append(Product(name, cost, amount))

    def pay(self, method: str, amount: float):
        self.payment_method = method
        self.paid_amount = amount

    def print_centered(self, text: str):
        print((" " * int(self.width / 2 - len(text) / 2)) + text)

    def print_sides(self, left: str, right: str):
        text = left

        text += " " * (self.width - len(left) - len(right))
        text += right

        print(text)

    def print_separator(self):
        print("-" * self.width)

    def print(self):
        print()
        
        self.print_centered(self.company)
        self.print_centered(self.city)
        self.print_centered(", " + self.street)

        self.print_centered("NIP 123-456-78-90")
        self.print_sides(datetime.datetime.now().strftime("%d.%m.%Y %H:%M.%S"), str(random.randint(1024, 4096)))
        
        self.print_centered("PARAGON FISKALNY")

        cost = 0

        for i in self.products:
            cost += i.cost * i.amount
            self.print_sides(f"{i.name} {i.amount} x", str(i.cost))

        self.print_separator()
        self.print_sides("Sprzedaż opodatkowana",  str(cost))
        self.print_sides("Kwota PTU", str(cost * 0.19))
        self.print_sides("Suma PLN", str(cost))
        self.print_separator()

        if self.payment_method == "cash":
            rest = self.paid_amount - cost

            self.print_sides("Gotówka", str(self.paid_amount))
            self.print_sides("Reszta", str(rest))
        else:
            self.print_sides("Karta", str(self.paid_amount))

        print()

print("======================================= PARAGON 1")


p1 = Paragon("Biedra", "12-345 Bydgoszcz", "Ulicowa 92")
p1.add_product("Papier toaletowy", 10, 2)
p1.add_product("Bułka Poznańska", 1, 5)

p1.pay("card", 25)
p1.print()


print("======================================= PARAGON 2")

p2 = Paragon("Ministerstwo Obrony Narodowej", "00-0001 Warszawa", "Klonowa 1")
p2.add_product("C-RAM 20mm HEIT-SD Phalanx ", 100000, 3)
p2.add_product("M1 Abrams 105 mm M68", 80000, 5)
p2.add_product("Boeing AH-64 Apache", 884928, 3)

p2.pay("cash", 100000000)
p2.print()

======================================= PARAGON 1

                  Biedra
             12-345 Bydgoszcz
               , Ulicowa 92
            NIP 123-456-78-90
19.09.2024 16:36.59                   1246
             PARAGON FISKALNY
Papier toaletowy 2 x                    10
Bułka Poznańska 5 x                      1
------------------------------------------
Sprzedaż opodatkowana                   25
Kwota PTU                             4.75
Suma PLN                                25
------------------------------------------
Karta                                   25

======================================= PARAGON 2

      Ministerstwo Obrony Narodowej
             00-0001 Warszawa
               , Klonowa 1
            NIP 123-456-78-90
19.09.2024 16:36.59                   3126
             PARAGON FISKALNY
C-RAM 20mm HEIT-SD Phalanx  3 x     100000
M1 Abrams 105 mm M68 5 x             80000
Boeing AH-64 Apache 3 x             884928
------------------------------------------
Sprzedaż opodatkowana              3354784
Kwota PTU                        637408.96
Suma PLN                           3354784
------------------------------------------
Gotówka                          100000000
Reszta                            96645216

### Zadanie 6.

Napisz program, który obliczy sumę wszystkich liczb w danej liście.

Uwaga! Proszę wykorzystać tylko omawiane funkcje.

In [151]:
lista = [7, 14, 2, 45, 9]

print(sum(lista))

77

### Zadanie 7.

Napisz program, który obliczy średnią arytmetyczną liczb w danej liście.

Uwaga! Proszę wykorzystać tylko omawiane funkcje.

In [152]:
lista = [7, 14, 2, 45, 9]

print(sum(lista) / len(lista))

15.4

### Zadanie 8. 

Stwórz program, który pobierze dwie liczby od użytkownika i wykona na nich różne operacje arytmetyczne (dodawanie, odejmowanie, mnożenie, dzielenie).

In [156]:
a = float(input("Podaj A: "))
b = float(input("Podaj B: "))

print("a + b = ", a + b)
print("a - b = ", a - b)
print("a * b = ", a * b)
print("a / b = ", a / b)
print("a ^ b = ", a ** b)

Podaj A:  4
Podaj B:  9

a + b =  13.0
a - b =  -5.0
a * b =  36.0
a / b =  0.4444444444444444
a ^ b =  262144.0

### Zadanie 9. 

Poproś użytkownika o podanie swojego imienia i nazwiska, a następnie wyświetl je w formacie "Nazwisko, Imię".

In [157]:
first_name = input("Podaj imię: ")
second_name = input("Podaj nazwisko: ")

print(second_name + ",", first_name)

Podaj imię:  Freddy
Podaj nazwisko:  Fazbear

Fazbear, Freddy

### Zadanie 10.

Napisz program, który znajdzie największą liczbę w danej liście liczb.

In [158]:
lista = [7, 14, 2, 45, 9]

print(max(lista))

45

### Zadanie 11.

Poproś użytkownika o wprowadzenie tekstu, a następnie wyświetl ten tekst w odwrotnym porządku.

In [162]:
print(" ".join(input("Podaj tekst: ").split(" ")[::-1]))

Podaj tekst:  Rise and shine mr Freeman. Rise and... shine.

shine. and... Rise Freeman. mr shine and Rise

### Zadanie 12.

Poproś użytkownika o wprowadzenie tekstu i zamień wszystkie litery na wielkie litery.

In [163]:
print(input("Podaj tekst: ").upper())

Podaj tekst:  majonez

MAJONEZ

### Zadanie 13.

Poproś użytkownika o wprowadzenie liczby całkowitej i oblicz, ile cyfr ma ta liczba.

In [164]:
def get_num() -> str:
    inp = input("Podaj liczbę całkowitą: ")

    try:
        return str(int(inp))
    except:
        print("Nieprawidłowa liczba całkowita.")
        return get_num()

print(len(get_num()))

Podaj liczbę całkowitą:  59.3

Nieprawidłowa liczba całkowita.

Podaj liczbę całkowitą:  aaaaa

Nieprawidłowa liczba całkowita.

Podaj liczbę całkowitą:  256

3

### Zadanie 14.

Poproś użytkownika o wprowadzenie masy ciała (w kilogramach) i wzrostu (w metrach), a następnie oblicz jego BMI (Body Mass Index) wg wzoru: BMI = masa / (wzrost^2).

In [165]:
mass = float(input("Podaj masę (kg): "))
height = float(input("Podaj wzrost (m): "))

print("BMI wynosi: ", mass / (height ** 2))

Podaj masę (kg):  50
Podaj wzrost (m):  1.7

BMI wynosi:  17.301038062283737